*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
.venv/

# CDK outputs
cdk.out/

# IDE
.vscode/
.DS_Store
